<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Subcontracts Sandbox </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="subcontractorsApp">
<div class="container" ng-controller="resultsController">
    <!--[if lt IE 7]>
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <img id="loader" src="images/loader.GIF">
    <div id="results" style="display:none">
        <button ng-click="exportData()">Export</button>
        <div class="row" id="table-test">
            <table width="100%">
                <thead>
                <tr>
                    <th>Contractor</th>
                    <th>Phone</th>
                    <th>Company State</th>
                    <th>Performance State</th>
                    <th>NAICS Code</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contract in contracts | filter: search | limitTo:totalDisplayed">
                    <td>{{contract.contractor}}</td>
                    <td>{{contract.phone}}</td>
                    <td>{{contract.state}}</td>
                    <td>{{contract.performance_state}}</td>
                    <td>{{contract.naics_code}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="loadMore()">Load 100 more</button>
    </div>

</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="js/jquery-2.0.0.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js"></script>
<script src="js/custom.js"></script>
</body>
</html>

